# 2.1 Collecting and Cleaning Data

In [1]:
import pandas as pd
import numpy as np

In [59]:
games = pd.read_csv("../data/Games.csv", parse_dates=[0],
                    names=["date", "home", "home_score", "away", "away_score"]).dropna().reset_index(drop=True)
teams = pd.read_csv("../data/Teams.csv", names=["region", "college"]).dropna().reset_index(drop=True)

In [60]:
games.head()

        date           home  home_score         away  away_score
0 2015-11-13         Hawaii          87  Montana St.          76
1 2015-11-13  Eastern Mich.          70      Vermont          50
2 2015-11-13       Columbia         107         Kean          62
3 2015-11-13     La.-Monroe          88      McMurry          43
4 2015-11-13           Yale          70    Fairfield          57

In [23]:
teams.head()

         region      college
0  America East      Vermont
1  America East  Stony Brook
2  America East         UMBC
3  America East     Hartford
4  America East       Albany

In [61]:
import html
def fix_name(team, original):
    team = html.unescape(team)
    if original.strip() in team.strip() or team.strip() in original.strip():
        return original
    return team

for region, college in teams.values:
    games["home"] = games["home"].apply(lambda t: fix_name(t, college))
    games["away"] = games["away"].apply(lambda t: fix_name(t, college))
print("Corrected Names!")

Corrected Names!

## Columns to consider/add:
1. Winner - Store winner's string? Or store 'home_winner' as True or False
2.

In [62]:
for i in range(games.shape[0] - 1):
    home_score = games.at[i, "home_score"]
    away_score = games.at[i, "away_score"]
    if home_score > away_score:
        result = games.at[i, "home"]
    elif home_score < away_score:
        result = games.at[i, "away"]
    else:
        result = "TIE"
    games.at[i, "winner"] = result
print("Added winner's column!")

Added winner's column!

In [63]:
games.to_csv("../data/Games-Calculated.csv")
games.head()

,date,home,home_score,away,away_score,winner
0,2015-11-13,Hawaii,87,Montana State,76,Hawaii
1,2015-11-13,Eastern Mich.,70,Vermont,50,Eastern Mich.
2,2015-11-13,Columbia,107,Kean,62,Columbia
3,2015-11-13,La.-Monroe,88,McMurry,43,La.-Monroe
4,2015-11-13,Yale,70,Fairfield,57,Yale